body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  width: 80%;
  max-width: 600px;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.player-choice, .computer-choice, .result {
  margin-bottom: 20px;
}

.choice {
  display: inline-block;
  margin: 0 10px;
  border: none;
  cursor: pointer;
}

.choice img {
  width: 100px;
  height: 100px;
}

#computerImage {
  width: 150px;
  height: 150px;
}

.result p {
  font-weight: bold;
}

.restart {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.player-choice > button:focus {
border: 2px solid green;
}
